{% extends 'base.html.twig' %}

{% block title %}Évènements - Event Time{% endblock %}

{% block header %} {{ parent() }} {% endblock %}

{% block body %}
    <h1 class="text-center text-5xl my-6">Les évènements</h1>

    <div class="w-4/5 mx-auto flex flex-row gap-6 flex-nowrap">
        {% for event in events %}
            <div class="w-1/4 border rounded-lg text-center p-2 my-6">
                <img class="w-2/3 h-80 mx-auto" src="img/{{ event.image }}">
                <h3 class="text-4xl">{{ event.name }}</h3>
                <p class="text-2xl">Entrée: {{ event.price }} €</p>
                <p class="w-full text-xl">{{ event.description }}</p>
                {# <p class="text-2xl">Début: {{ event.start }}</p>
                <p class="text-2xl">Fin: {{ event.end }}</p> #}
                {# <br>
                <p class="text-2xl">Créé le: {{ event.created }}</p> #}
                <div class="w-1/5 mx-auto text-center my-4">
                    <a href="{{ path('event_detail', { id: event.id }) }}" class="bg-blue-300 hover:bg-blue-600 duration-500 rounded-lg text-center text-white p-2 cursor-pointer">Voir</a>
                </div>
            </div>
            
        {% endfor %}
    </div>
{% endblock %}

{% block footer %} {{ parent() }} {% endblock %}
