<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <body>

            {% block header %}
                <div class="w-full flex flex-row justify-between items-center bg-blue-400 text-white p-5">
                    <h1 class="text-5xl ml-6">Event time</h1>
                    <ul class="flex flex-row gap-6 text-3xl mr-6">
                        <li class="hover:text-blue-800 duration-500 rounded-lg p-1 {{ app.request.get('_route') == 'home' ? 'active' }}">
                            <a href="{{ path('home') }}">Accueil</a>
                        </li>
                        <li class="hover:text-blue-800 duration-500 rounded-lg p-1 {{ app.request.get('_route') == 'event' ? 'active' }}">
                            <a href="{{ path('event') }}">Évènements</a>
                        </li>
                        <li class="hover:text-blue-800 duration-500 rounded-lg p-1 {{ app.request.get('_route') == 'event_create' ? 'active' }}">
                            <a href="{{ path('event_create') }}">Formulaire d'évènements</a>
                        </li>
                    </ul>
                </div>
            {% endblock %}

            {% block body %}{% endblock %}

            {% block footer %}
                <div class="w-full flex justify-center items-center bg-blue-400 p-5">
                    <p class="text-center text-xl text-white">Event Time - Tous droits réservés.</p>
                </div>
            {% endblock %}
        </body>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

</html>
